.panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
  border-left: 1px solid #EEE;
  padding: 1rem;
}
.panel-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.panel-content label {
  font-weight: 600;
  display: block;
  margin-bottom: 0.5rem;
}
.panel-content textarea {
  width: 1  00%;
  height: 8em;
  padding: 0.5rem;
  font: inherit;
  border: 1px solid #CCC;
  border-radius: 4px;
  resize: vertical;
}
